* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style Sheard Section */
body{
     font-family: "DM Sans", sans-serif;
     background-color:#1A0B2E;
     color: #FFFFFF;
}
 .container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
 }
 .btn{
  padding: 10px 22px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
} 
.gradient{
     background: linear-gradient(-130deg,#8b1cff , #ff2fd6,#ffd36e);
       color: #FFFFFF;
}
.btn i{
    margin-left: 5px;
}
.flex{
   display: flex;
   gap: 6px;
   align-items: center;
}
/* Style Header Section */
 header{
    padding:16px 200px ;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav .menu{
    list-style: none;
    display: flex;
    gap: 32px;
 }
 .logo h2{
    font-size: 30px;
    font-weight: bold;
 }
 .logo span {
  background: linear-gradient(1300deg,#8b1cff , #ff2fd6, #ffd36e);
  background-clip: text;
   color: transparent;
  
}

/* Style Hero Section */
.hero{
   background-image: url("assets/hero-bg.png");
   background-repeat: no-repeat;
   text-align: center;
   padding: 100px 20px;
}
.hero-mic{
   position: relative;
   margin:auto;
}
.mic{
   position: absolute;
   top: 33%;
   left: 50%;
  transform: translate(-50%, -50%);
}
.badge{
   position: absolute;
   top: 10px;
   right:41%;
   background-color: #00Ff88;
   border-radius: 25px;
   padding: 4px 10px;
   font-size: 18px;
   font-weight: 600;
   color: #1A0B2E;
}
.hero h1{
   margin-top: 40px;
   font-weight: bolder;
   font-size:60px
}
.hero p{
   margin-bottom: 24px;
   font-weight: 400;
   font-size: 16px;
}
.btn-1{
   margin-left: 5px;
   background-color: transparent;
   color: #00Ff88;
   border: 1px solid #00Ff88;
}