* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style Sheard Section */
body{
     font-family: "DM Sans", sans-serif;
     background-color:#1A0B2E;
     color: #FFFFFF;
}
 .container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
 }
 .btn{
  padding: 10px 22px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
} 
.gradient{
     background: linear-gradient(-130deg,#8b1cff , #ff2fd6,#ffd36e);
       color: #FFFFFF;
}
.btn i{
    margin-left: 5px;
}
.flex{
   display: flex;
   gap: 6px;
   align-items: center;
}
p{
    font-size: 16px;
   line-height: 20px;
   opacity: 0.8;
}
.section-title{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* Style Header Section */
 header{
    padding:16px 200px ;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav .menu{
    list-style: none;
    display: flex;
    gap: 32px;
 }
 .logo h2{
    font-size: 30px;
    font-weight: bold;
 }
 .logo span {
  background: linear-gradient(1300deg,#8b1cff , #ff2fd6, #ffd36e);
  background-clip: text;
   color: transparent;
  
}

/* Style Hero Section */
.hero{
   background-image: url("assets/hero-bg.png");
   background-repeat: no-repeat;
   text-align: center;
   padding: 100px 20px;
}
.hero-mic{
   position: relative;
   margin:auto;
}
.mic{
   position: absolute;
   top: 33%;
   left: 50%;
  transform: translate(-50%, -50%);
}
.badge{
   position: absolute;
   top: 10px;
   right:41%;
   background-color: #00Ff88;
   border-radius: 25px;
   padding: 4px 10px;
   font-size: 18px;
   font-weight: 600;
   color: #1A0B2E;
}
.hero h1{
   margin-top: 40px;
   font-weight: bolder;
   font-size:60px
}
.hero p{
   margin-bottom: 24px;
}
.btn-1{
   margin-left: 5px;
   background-color: transparent;
   color: #00Ff88;
   border: 1px solid #00Ff88;
 
}
/* style about section */
.about{
   text-align: center;
   margin-bottom: 120px;
}
.about h2{
   font-weight: bold;
   font-size: 48px;
}
.line{
   height: 1px;
  background-color: #2d2d27;
  margin: 30px 0;
}
.stats {
   margin-top: 80px;
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.stats h3{
   color: #00Ff88;
   font-weight: bolder;
   font-size: 28px;
}
/* style features section */

.features-card {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 25px;
  grid-template-areas:
    "premium mobile"
    "premium community"
    "interviews resources";

}
.premium { grid-area: premium; }
.mobile { grid-area: mobile; }
.community { grid-area: community; }
.interviews { grid-area: interviews; }
.resources { grid-area: resources; }

.card{
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 0.4); 
  padding: 40px;
}
.card h4{
   margin-top:10px;
   margin-bottom: 10px;
}
/* Episodes section */
.episodes-card{
   margin-top: 80px;
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.card-1{
   width:100%;
   height: 500px;
   border-radius: 40px;
   padding: 10px;
  background-color: rgba(53, 17, 101, 0.4);
}
.card-1 iframe{
   width: 340px;
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
}
.card-1 h4{
   font-size: 24px;
   font-weight: 700;
   line-height: 29px;
   margin-bottom: 8px;
}
.margin{
   margin-top: 8px;
}
.little{
   color: #00Ff88;
}
/* Style host section */

.host-container{
   margin-top: 50px;
   background-color: rgba(53, 17, 101, 0.4);
   padding: 40px;
   border-radius: 20px;
   display: flex;
   gap: 24px;
   align-items: center;
}
.host-content h3{
   font-size: 32px;
   font-weight: 700;
   line-height: 39px;
}
.host-content .host-logo{
   margin-top: 7px;
   display: flex;
   gap: 5px;
}
.host-content .host-logo .logo-1{
   width: 40px;
   height: 40px;
   border: 1px solid rgba(83, 60, 114, 1);
   border-radius: 50%;
   padding: 10px;
}


/* style Footer section */
.footer{
   margin-top: 120px;
   background-image: url("assets/footer-bg.png");
   background-size: cover;
   padding: 120px 0 120px 0;
}
.title{
   font-size: 78px;
}
.foot-flex{
   display: flex;
   gap: 40px;
   justify-content: center;
}
.flex-1{
   display: flex;
   gap: 7px;
}
.flex-1 span{
   opacity: 0.8;
}
.footer p{
   text-align: center;
   margin-top: 32px;
}
/* Responsive footer section  */
@media (max-width: 576px) {
  .footer {
    padding: 80px 16px;
  }

  .title {
    font-size: 36px;
  }

  .foot-flex {
    flex-direction: column;
    gap: 20px;
  }

  .flex-1 {
    justify-content: center;
  }
   
 .flex-1 img {
    width: 22px;
  }
  .flex-1 span {
    font-size: 14px;
  }

  .footer p {
    font-size: 12px;
    margin-top: 24px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .footer {
    padding: 100px 20px;
  }

  .title {
    font-size: 56px;
  }

  .foot-flex {
    gap: 28px;
    flex-wrap: wrap;
  }

  .flex-1 span {
    font-size: 15px;
  }

  .footer p {
    font-size: 13px;
  }
}


